.option {
    display: flex;
    justify-content: space-between;
    color: $white;
    padding: 2.5rem $m-size;

    &:not(:last-child) {
        border-bottom: 1px solid $blue-dark-4;
    }

    &__text {
        word-break: break-all;
        margin: 0;
    }
}