// COLORS
$blue-light-1: #b0dfff;
$blue-light-2: #46b0f7;

$blue-dark-1: #3654D2;
$blue-dark-2: #333745;
$blue-dark-3: #282f4b;
$blue-dark-4: #262c42;

$grey-light-1: #f7f7f7;
$grey-light-2: #eee;

$grey-dark-1: #777;
$grey-dark-2: #333;

$white: #fff;
$black: #000;

// SPACING
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

// SHADOWS
$shadow-1: 0 1.5rem 4rem rgba($black, .15);
$shadow-2: .5rem 1rem 2rem rgba($black, .2);
$shadow-3: 0 1rem 2rem rgba($black, 0.1);

// BREAKPOINTS
$desktop-breakpoint: 45rem;